.App {
  text-align: center;
}

@font-face {
  font-family: 'Avenir Next';
  src: url("AvenirNextLTPro-Regular.otf"); /* File to be stored at your site */
  }




.App-header {

  background-repeat: no-repeat;
 -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;
           height: 1420px;
margin-top: -300px;
}

.mainpage {
  margin-top: -40px;
  height: 2650px;
}

.footer_bat {
  background-repeat: no-repeat;
 -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;
    color: white;
    text-decoration: none;
}

.App-link {
  color: #61dafb;
}

@media (max-width: 668px) {
  .mainpage {

    height: 6350px;
  }
}
